body {
 
  font-family:  "Poppins", sans-serif;
  background-color: lightgray;
}
.container{
  width: 750px;
  margin: auto; 
  padding: 0 10px;
  align-items: center;
}
.dropdown{
 display: flex;
 justify-content: center;
 margin: 20px 0;

}
select{
width: 200px;
border: none;
border-radius: 20px;
font-size: 1.25rem;
padding: 10px 10px;
background-color: rgb(239, 239, 239);

}
.todoItem{ 
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 10px;

}
.todoTitle{
  align-items: center;
  margin-right: 10px;
  flex:5;
  border-radius: 20px;
  background-color: rgb(239, 239, 239);
  padding: 0 20px;
  text-decoration: none;
  color: black;
}
.todoButton{
  flex:1;
}
.deleteBtn{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.completeBtn{
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.completeTodo{
    color:rgb(239, 239, 239);
    background-color: green;
}
.notCompleteTodo{
  color: green;
  background-color: rgb(239, 239, 239);
}
.completeTitle{
  outline: solid 1px green;
}
.notCompleteTitle{
  outline: solid 1px red;
}
.userCard{
  background-color: rgb(239, 239, 239);
  width: 750px;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  padding: 0 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 20px;

}
.avatar{
  flex: 1;
  display: flex;
  margin:auto;
  justify-content: center;
  align-items: center;

}
.avatarIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 140px;
  background-color: rgb(200, 207, 219);
  width: 140px;
  font-size: 55px;
  font-weight: bold;

}
.userDetails{
  flex:2;
  font-size: 18px;
}
.backBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 50px;
  width: 30%;
  border-radius: 20px;
  background-color:  rgb(239, 239, 239);
  text-decoration: none;
  color: black;
}
.userContainer{
  width: 750px;
  margin: auto; 
  padding: 0 10px;
  align-items: center;
  display: flex;
  flex-direction: column;

}